.banner {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 0 5px;
    &__item {
        position: relative;
        margin: 5px 5px 0 5px;
        &-link {
            color: #fff;
            text-decoration: none;
            cursor: pointer;
        }
    }
    &__mask {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        &-descr {
            line-height: 0;
            font-size: 40px;
            width: 265px;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}